header {
  position: static;
}

/* Main */

main {
  background-image: url(../images/cart/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 625px;
  position: relative;
}

.main-section {
  position: absolute;
  margin: 30px;
  left: 50%;
  top: 20%;
}

.main-title {
  font-size: 37.5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--pasta-yellow);
  margin-top: 0px;
}

.main-text {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--pasta-yellow);
}

.main-button {
  border: 3px solid var(--pasta-yellow);
  background-color: var(--pasta-yellow);
}

.main-button:hover {
  background-color: whitesmoke;
  color: var(--pasta-yellow);
}