header {
  position: fixed;
}

/* Main */

main {
  max-width: 100vw;
}

.main-section {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/index/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-main {
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 7%;
}

.main-title {
  margin: 0px;
  font-size: 65px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  letter-spacing: 1.3px;
  color: rgba(255, 255, 255, 0.827);
}

.main-text {
  margin: 0px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.827);
}

/* Intro */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  flex-wrap: wrap;
  padding: 75px;
  gap: 70px;
}

.intro-image {
  width: 550px;
  height: auto;
  max-height: 700px;
}

.container-intro-right {
  width: 600px;
  padding: 20px 30px;
  border: 5px solid var(--campagna-red);
}

.intro-title {
  margin-top: 15px;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--campagna-red);
}

.intro-text {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro-button {
  border: 3px solid var(--campagna-red);
  background-color: var(--campagna-red);
}

.intro-button:hover {
  color: var(--campagna-red);
  background-color: whitesmoke;
}

/* Hr */

hr {
  border: none;
  border-top: 5px solid;
  border-image: linear-gradient(45deg, rgba(0, 150, 65, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(238, 0, 0, 1) 100%);
  border-image-slice: 1;
  height: 5px;
  width: 85%;
  margin-block: 30px;
}

/* Products */

.products {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 75px auto;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .products {
    flex-direction: column;
    gap: 0px;
    width: 70%;
  }

  .container-products-right {
    flex-direction: column;
  }
}

.container-products-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;
  margin: 25px;
}

.container-products-right {
  flex: 1;
  display: flex;
  align-items: stretch;
  gap: 50px;
  margin: 25px;
}

.container-long,
.container-short,
.container-sauces,
.container-oils {
  padding: 10px;
  padding-left: 20px;
}

.products-box {
  padding: 10px;
  position: relative;
  z-index: 1;
}

.products-box::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  transition: all 0.35s ease-in-out;
}

.products-box:hover:before {
  opacity: 1;
  transform: scale(1.05);
}

.products-title {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
  letter-spacing: 1.2px;
}

.products-text {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: azure;
  line-height: 27.5px;
}

.products-long::before {
  background-image: url(../images/index/long_pasta.jpg);
  background-position: center;
  background-size: cover;
}

.products-short::before {
  background-image: url(../images/index/short_pasta.jpg);
  background-position: center;
  background-size: cover;
}

.products-sauces::before {
  background-image: url(../images/index/sauces2.jpg);
  background-position: bottom 30% left 20%;
  background-size: cover;
}

.products-oils::before {
  background-image: url(../images/index/olive_oil2.jpg);
  background-position: bottom 20% left 55%;
  background-size: cover;
}

.long-button,
.short-button {
  border: 3px solid whitesmoke;
  background-color: whitesmoke;
  color: rgb(23, 23, 23);
}

.long-button:hover,
.short-button:hover {
  border: 3px solid rgb(23, 23, 23);
  background-color: rgb(23, 23, 23);
  color: whitesmoke;
}

.sauces-button {
  border: 3px solid rgb(192, 46, 46);
  background-color: rgb(192, 46, 46);
  color: whitesmoke;
}

.sauces-button:hover {
  border: 3px solid whitesmoke;
  background-color: whitesmoke;
  color: rgb(192, 46, 46);
}

.oils-button {
  border: 3px solid #baa23e;
  background-color: #baa23e;
  color: whitesmoke;
}

.oils-button:hover {
  border: 3px solid whitesmoke;
  background-color: whitesmoke;
  color: #baa23e;
}