:root {
  --tomato: #AE2E07;
  --olive: #C99822;
}

header {
  position: fixed;
}

/* Main */

main {
  max-width: 100vw;
}

.main-section {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/index/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-main {
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 7%;
}

.main-title {
  margin: 0px;
  font-size: 65px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  letter-spacing: 1.3px;
  color: rgba(255, 255, 255, 0.827);
}

.main-text {
  margin: 0px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.827);
}

/* Intro */

.intro {
  background-color: rgb(245, 245, 245);
}

.container-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px;
  gap: 60px;
}

@media (max-width: 1200px) {
  .container-intro {
    flex-wrap: wrap;
  }
}

.intro-image {
  width: 600px;
  min-width: 400px;
  height: auto;
  max-height: 700px;  
}

.container-intro-right {
  max-width: 550px; 
  min-width: 275px;
  width: auto;
  padding: 20px 30px;
  border: 5px solid var(--campagna-red);
}

.intro-title {
  margin-top: 15px;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--campagna-red);
  margin-bottom: 15px;
}

.intro-text {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro-button {
  border: 3px solid var(--campagna-red);
  background-color: var(--campagna-red);
}

.intro-button:hover {
  color: var(--campagna-red);
  background-color: whitesmoke;
}

/* Hr */

hr {
  border: none;
  border-top: 5px solid;
  border-image: linear-gradient(45deg, rgba(0, 150, 65, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(238, 0, 0, 1) 100%);
  border-image-slice: 1;
  height: 5px;
  width: 85%;
  margin-block: 30px;
}

/* Showcase */

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  min-width: 560px;
  min-height: 315px;
  margin: 50px;
}

/* Products */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px auto;
}

.container-products {
  width: 70%;
  /* display: grid;
  grid-auto-flow: column;
  grid-template-columns: 450px repeat(2, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 25px; */
  display: flex;
  gap: 30px;
}

/* @media (max-width: 1300px) {
  .container-products {
    grid-template-columns: 450px 1fr;
    grid-template-rows: repeat(3, 250px);  
  }
} */

.container-products-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 450px;
}

@media (max-width: 1250px) {
  .container-products {
    flex-direction: column;
  }

  .container-products-sauces::before {
    background-image: url(../images/index/sauces2.jpg);
    background-position: center;
    background-size: cover;
  }

  .products-box {
    min-width: 450px;
  }
}

.products-box {
  padding: 20px;
  padding-left: 27.5px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.products-box::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.8;
  transition: all 0.35s ease-in-out;
}

.products-box:hover::before {
  opacity: 1;
  transform: scale(1.05);
}

/* .container-products-long {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.container-products-short {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.container-products-sauces {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.container-products-oils {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
} */

.container-products-long::before {
  background-image: url(../images/index/long_pasta.jpg);
  background-position: center;
}

.container-products-short::before {
  background-image: url(../images/index/short_pasta.jpg);
  background-position: center;
}

.container-products-sauces::before {
  background-image: url(../images/index/sauces2.jpg);
  background-position: top 35%;
  background-size: cover;
}

.container-products-oils::before {
  background-image: url(../images/index/olive_oil2.jpg);
  background-position: center;
  background-size: cover;
}

.products-title {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
  letter-spacing: 1.2px;
  margin-bottom: 5px;
}

.products-text {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: azure;
  line-height: 27.5px;
  margin-bottom: 30px;
}

.products-link {
  width: fit-content;
}

.product-button {
  margin: 0px;
  color: whitesmoke;
}

.product-button:hover {
  border: 3px solid whitesmoke;
  background-color: whitesmoke;
}

.long-button,
.short-button {
  border: 3px solid rgb(19, 19, 19);
  background-color: rgb(19, 19, 19);
}

.long-button:hover,
.short-button:hover {
  color: rgb(19, 19, 19);
}

.sauces-button {
  border: 3px solid var(--tomato);
  background-color: var(--tomato);
}

.sauces-button:hover {
  color: var(--tomato);
}

.oils-button {
  border: 3px solid var(--olive);
  background-color: var(--olive);
}

.oils-button:hover {
  color: var(--olive);
}